body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: auto;
    background-color: black;
    color: #ffffff;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
  background-color: black;
    width: 340px;
    border-radius: 1rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    overflow: auto;
    padding: 0 1.75rem 0 1.75rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.nav{
    background-color: #121212;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.75;
    padding: 0.5rem 0.75rem;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.nav-option:hover{
    opacity: 1;
}
.library{
    background-color: #121212;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
    height: 100%;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.lib-option a{
    margin-left: 1rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    margin-right: 1rem;
    opacity: 0.75;
}
.icons i:hover{
    opacity: 1;
}
.box{
    height: 8rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 1.5rem;
    background-color: #232323;
    border-radius: 0.6rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.8rem;
    opacity: 0.8;
}
.badge{
    background-color: aliceblue;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    height: 2rem;
    font-weight: 700;
    width: fit-content;
}
.box2{
    height: 10rem;
    margin-top: 1rem;
}
.sticky-nav{
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    background-color: #121212;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 8;
}
.sticky-nav-icons img{
    height: 1.5rem;
    width: 1.5rem;
}
.sticky-nav-icons{
    display: flex;
}
.sticky-nav-options{
    justify-content: center;
    align-items: center;
    display: flex;
}
.sticky-icons{
    margin-right: 1rem;
}
.dark-badge{
    background-color: black;
    color: aliceblue;
}
@media(max-width:1000px){
    .hide{
        display:none;
    }
}
.color{
    background-color: black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
}
.card{
    background-color: #201f1f;
    width: 160px;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
.card img{
    width: 100%;
    border-radius: 0.25rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card-title{
    font-size: 20px;
    font-weight: 600;
}
.card-info{
    font-size: 16px;
    opacity: 0.8;
    font-weight: 400;
}
hr{
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    width: 50%;
}
.controls{
    width: 25%;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    opacity: 0.6;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.2rem;
    border-radius: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.album-img{
    height: 60px;
    margin: 0.5rem;
}
.album-title{
    font-size: 0.8rem;
    opacity: 0.8;
    font-weight: 600;
}
.album-p{
    font-size: 0.6rem;
    opacity: 0.6;
    font-weight: 400;
}
.album-text{
    margin: 0.5rem;
}
.album-icon i{
    margin: 0.5rem;
}
.controls-input{
    width: 30%;
    appearance: none;
    margin: 0.25rem;
}
.controls-input::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 4px;
    border-radius: 10%;
    margin-top: -2px;
}
.controls-input::-webkit-slider-thumb{
    appearance: none;
    height: 8px;
    width: 8px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -2px;
}
.controls i{
    margin: 0.25rem;
    opacity: 0.8;
}